.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
}

.logo {
    width: 100px;
}

.nav-items>ul {
    font-size: 25px;
    display: flex;
    list-style-type: none;
}

.nav-items {
    padding: 0px 20px;
}


.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}

.nav-items>ul>li>a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.body {
    width: 1200px;
    padding-inline: 150px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

}

.res-card {
    margin: 10px;
    width: 200px;
    padding: 5px;
    border: 0.5px solid transparent;
    background-color: lightgray;
    transition: border-color 0.3s ease;
    text-decoration: none;
}

.res-card:hover {
    border: 1px solid grey;
    cursor: pointer;
}

.res-card>img {
    width: 100%;
}

.search {
    padding: 10px;
}

footer {
    text-align: center;
    margin-top: 15px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimer-container {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-wrap: wrap;

}

.shimmer-cards {
    height: 400px;
    width: 200px;
    background-color: #f0f0f0;
    border: 10px;
    padding: 15px;
    margin: 10px;
}

.login {
    padding: 0 20px;
    cursor: pointer;

}

.filter {
    display: flex;
}

.link {
    text-decoration: none;
    color: black;
}

.user-card {
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
}